@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
img{
    width: 100%;
}

section{
    overflow: hidden;
    position: relative;
    height: 100vh;
}
.wrapper{
    width: 100%;
    max-width: 1170px;
    margin-right: auto;
    margin-left: auto;
    
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.logo{
    width: 100px;
}
.navbar ul{
    display: flex;
}
.navbar ul li{
    list-style: none;
    margin-right: 35px;
    font-weight: 400;
}
.navbar ul li a{
    text-decoration: none;
    color: #313131;
}
header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding-top: 30px;
/*    position: relative;*/
    margin-top: 95px;
    
}
.content{
    max-width: 600px;
    padding-bottom: 69px;
}
.content h2{
    font-weight: 500;
    font-size: 64px;
    color: #313131;
}
.content h2 span{
    font-weight: 900;
    color: #0b8044;
}
.content p{
    color: #313131;
}
.content a{
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: #0b8044;
    color: #ffffff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
}
.header-img-1{
    position: absolute;
    right: 100px;
    top: 195px;
    width: 450px;
    height: 450px;
    object-fit: contain;
    margin-bottom: 45px;
}
.header-img-2{
    position: absolute;
    right: 126px;
    top: 171px;
    width: 450px;
    height: 450px;
    object-fit: contain;
    margin-bottom: 45px;
    display: none;
}
.header-img-3{
    position: absolute;
    right: 73px;
    top: 139px;
    width: 450px;
    height: 450px;
    object-fit: contain;
    margin-bottom: 45px;
    display: none;
}
.circle{
    background: #0b8044;
    height: 1000px;
    width: 1000px;
    border-radius: 50%;
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translate(50% , 50%);
    z-index: -2;
}
.images{
    display: flex;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding-bottom: 20px;
    padding-top: 30px;

}
.float-img{
    margin-right: 10px;
}
.img-1 , .img-2 , .img-3{
    width: 70px;
    height: 70px;
    object-fit: contain;
}
.radio{
    display: none;
}
#two:checked ~ header > .header-img-2{
    display: inline-block;
}
#two:checked ~ header > .circle{
    background: #e16f89;
}
#two:checked ~ header > .header-img-1{
    display: none;
}

#three:checked ~ header > .header-img-3{
    display: inline-block;
}
#three:checked ~ header > .circle{
    background: #c244a3;
}
#three:checked ~ header > .header-img-2{
    display: none;
}
#three:checked ~ header > .header-img-1{
    display: none;
}



/*

@media (max-width: 575.98px) { ... }


@media (max-width: 767.98px) { ... }


@media (max-width: 991.98px) { ... }


@media (max-width: 1199.98px) { ... }
*/

@media (min-width: 1199.99px){
    .circle{
        width: 1500px;
        height: 1500px;
    }
    .header-img-1{
        width: 600px;
        height: 600px;
        top: 294px;
    }
    .header-img-2{
        width: 600px;
        height: 600px;
        top: 294px;
    }
    .header-img-3{
        width: 600px;
        height: 600px;
        top: 160px;
    }
}